@{
    ViewData["Title"] = "ISeeFire";
}
@model ISeeFire_Backend.Models.ReportsModel

<style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  background-color: #111;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("ISeeFireImages/fire-hi-res-2.png");
  height: 100%;
}

.caption {
  opacity: 0.65;
  position: absolute;
  background-color: #111;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  
  color: #fff;
  padding: 18px;
  font-size: 25px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
</style>
<div>
  NASA Reports:
</div>

@{
  foreach(var m in Model.UsersReports )
  {
    var meters = Math.Round(m.Distance, 2);
    string dist = "";
    if(meters > 2000)
    {
      dist = $"{Math.Round(meters/1000.0m, 1)} km";
    }
    else
    {
      dist = $"{Math.Round(meters, 2)} meters";
    }


    <div>
      @($"{dist}, url: {m.PhotoUrl}, Latitude: {m.Latitude}, Longitude: {m.Longitude}, Confidence: {Math.Round(m.Confidence, 2 )} ")
    </div>
  }
}
